.layer,
.layout {
  width: 100%;
  height: 100vh;
}

.header {
  width: 100%;
  height: 6%;
  /* background: #0077b6; */
  background: var(--primary-color-onix);
}

.main {
  width: 100%;
  height: 94%;
}

.sidebar {
  height: 94%;
}

.body {
  height: 94%;
  padding: 8px;
}

.Nav-menu,
.leftmenu {
  height: 100%;
  padding: 0;
  gap: 1px;
}

.menuIcons,
.leftIcons {
  height: 100%;
  width: 20%;
}

.menuPaleta {
  width: 80%;
  height: 100%;
  padding: 5px;
}

.leftPaleta.active,
.activeted {
  display: none;
}

.imgSizesvg {
  height: 30px;
  padding: 5px;
}