.layout {
  display: grid;
  grid-template-areas: "sidebar main";
  grid-template-columns: 18% 82%; 
  height: 100vh;
  background: #f5f5f5;
}

a, Link{
  text-decoration: none;
  color: black;
}




.sidebar {
  grid-area: sidebar;
  background: #1b1b41;
  display: grid; /* Sidebar se convierte en un grid */
  grid-template-columns: 20% 78%; /* Dos columnas que ocupan el ancho de sidebar */
  grid-template-rows: 1fr;
  gap: 2px;
}

.main {
  grid-area: main;
  display: grid;
  grid-template-areas: "navigation" "sections";
  grid-template-rows: 6% 94%;
}

.navigations{
  grid-area: navigation;
  border-bottom: 1px solid #dedede;
}

.cPointer{
  cursor: pointer;
}



.sections{
grid-area: sections;
}

/* .menuicons{
}
.contentpanel{
} */

.ioniconwhite{
  color: #fdfdfd;
  font-size: 18px;
}



.hoverback{
  padding: 5px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

.hoverback:hover{
  background-color: #433c98;
}

/* .footer {
  grid-area: footer;
} */


.flexbox {
  display: flex;
}

.flexcenter{
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexalign{
  display: flex;
  align-items: center;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flexRow{
  flex-direction: column;
}
.wcolor {
  color: white
}

.padd1{
  padding: 2px;
}
.padd2{
  padding: 4px;
}

.cwhite{
  color: white;
}

.cGray{
  color: #7a7a7a;
}

.cBlack{
  color: #383838;
}

.gap1{
  gap: 2px;
}

.gap2{
  gap: 4px;
}