.cotizadorBox{
    padding: 5px;
    display: flex;
    height: 100%;
}

.imglogobox{
    width: 20%;
    height: 100%;
    
}
.quotboxdata{
    height: 100%;
}

.toolsboxside{

    border-left: 1px solid #dedede;
    
}

.clientDataBox{

    display: flex;
}

.datosinputbox{
    width: 80%;
}

.pnglogo{
    width: 90%;
    aspect-ratio: 1/1;
}

.montoTotalbx{
    /* background-color: #138f53; */
    background: #8b8a8a;
    border: 1px solid #858282;
    display: flex;
    padding: 6px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
}

.checkcenter {
    display: grid;
    place-items: center;
  }
  
.parraf{
    width: 100%;
    word-wrap: break-word; /* Permite que las palabras largas se corten y pasen a la siguiente línea */
    white-space: normal; /* Asegura que el texto se acomode en múltiples líneas */
}

.bxcotizador{
    padding: 5px 15px;

}

.nitem{
    width: 30px;
    padding: 4px;
    font-size: 12px;
    text-align: center;
}

.textonum{
    font-size: 12px;
    padding: 1px;
}