.cotizadorBox{
    padding: 5px;
    display: flex;
    height: 100%;
}

.imglogobox{
    width: 20%;
    height: 100%;
}
.quotboxdata{
    height: 100%;
}

.toolsboxside{

    border-left: 1px solid #dedede;
}

.clientDataBox{
    height: 25%;
    display: flex;
}

.datosinputbox{
    width: 80%;
}

.pnglogo{
    width: 98%;
    height: 98%;
}
