/* .CotizadorPanel{
    height: 100%;
} */

.CotizacionPanelbox{
    padding: 2px;
    margin-top: 2px;
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
}

.EmpresaItembox{
    /* background-color: #fdfdfd; */
    background-color: #087440;
    /* background-color: #252567; */

    height: 40%;
    border-radius: 8px;

}

.titleCotizacion p{
    font-weight: bold;
}

.tagnamebox{
    padding: 4px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 30%;
    border-bottom: 1px solid #dedede;
}

.liItemCashbox{
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 2px;
    height: 65%;
}


.liItemCash{
    height: 50%;
    padding: 4px;
    color: white;
    border-bottom: 1px solid #dedede45;

    justify-content: space-between;
}

.liItemCash:hover{
    background: #dedede45;
    cursor: pointer;
}

.panelTitle{
    padding: 5px 2px;
}


.spinner {
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top: 4px solid #ffffff;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    animation: spin 1s linear infinite;
    margin: 20px auto;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  