.cotizadorBox{
    padding: 5px;
    display: flex;
    height: 100%;
}

.imglogobox{
    width: 20%;
    height: 100%;
}
.quotboxdata{
    height: 100%;
}

.toolsboxside{

    border-left: 1px solid #dedede;
}

.clientDataBox{
    height: 25%;
    display: flex;
}

.datosinputbox{
    width: 80%;
}

.pnglogo{
    width: 98%;
    height: 98%;
}

.montoTotalbx{
    /* background-color: #138f53; */
    background: #8b8a8a;
    border: 1px solid #858282;
    display: flex;
    padding: 6px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    
}

.checkcenter {
    display: grid;
    place-items: center;
  }
  

