:root{
    /* paleta de colores */
    --primary-color-black: #212121;
    --primary-color-onix: #393E41;
    --secondary-color-timberwolf: #D3D0CB;
    --accent-color-platinum: #E7E5DF;
    --accent-color-Keppel: #8BD8BD;
    --accent-color-dark-keppel: #44BBA4;
    --alternative-color-onix: #E94F37;
    --alternative-color-safron: #E7BB41;
    --alternative-color-pear: #1B676B;
    --alternative-color-torqueblue: #6449B7;
    --color-white-blumine: #FFF3FE;

    /* estilizado de elementos */
    --danger: #bb2532;
    --alert: #e2ef29;
    --success: #157be8;
}

/* revisado */
::-webkit-scrollbar {
    width: 12px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--secondary-color-timberwolf); 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: var(--primary-color-onix);
    border-radius: 10px;
    border: 1px solid white; 
  }
  

*{
    font-size: 14px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html, body{
    width: 100%;
    height: 100vh;
    font-family: 'Roboto', sans-serif;

}

/* estilo icono ion icons */

.IconGray2{
    color: rgb(165, 164, 164);
    font-size: 20px;
    padding: 2px;
}
.IconGray2:hover{
    cursor: pointer;
    color: var(--accent-color-platinum);
}

.IconGray{
    color: rgb(165, 164, 164);
    font-size: 30px;
    padding: 2px;
}

.IconGray:hover{
    cursor: pointer;
    color: var(--accent-color-platinum);

}


/* clase general para flex */

.flexbox{
    display: flex;
}

/* clase general para centrar elementos */

.vCenter{
    justify-content: center;
    
}

.hCenter{
    align-items: center;
}



.flexcenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* clase espaciado flex */

.flex1{
    flex: 1;
}

.flex2{
    flex: 2;
}

.flex3{
    flex: 3;
}

.flex4{
    flex: 4;
}

/* clase para la direccion en flex */

.flexRow{
    display: flex;
    flex-direction: row;
}
.fRow{
    
    flex-direction: row;
}
.flexColumn{
    display: flex;
    flex-direction: column;
}

.fColumn{
    flex-direction: column;
}

.flexAlign{
  display: flex;
  align-items: center;

}

.columnAlign{
    display: flex;
    flex-direction: column;
    align-items: center;
}