.iconMenuBox{
    padding: 4px;
}

.MenuTopBox{
    flex: 1;
    gap: 2px;
}

.iconMenuBox{
    /* background: #171737; */
    /* background: #34bc6a; */
    background: #34bc6a;
    
    height: 100%;
    display: flex;
    justify-content: center;
}