.MenuTopBox {
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 4px;
}

.iconMenuBox {
  /* background: #171737; */
  /* background: #34bc6a; */
  background: #34bc6a;
  padding: 4px;
  height: 100%;
  display: flex;
  justify-content: center;
}
