.VentasBox{
    padding: 5px;
}

.topListVentas{
    justify-content: space-between;
}

#empresas{
    color: #616161;
    outline: none;
    border: 1px solid #616161;
    padding: 2px 30px;
    border-radius: 5px;
}

option{
    height: 35px;
}

.titleboxVentas{
    color: #616161;
}

.optionmenubox{
    gap: 4px;
}

.xmldropbox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 100%;
    border: 2px dashed #616161;
    border-radius: 5px;
    color: #616161;
}

.xmldropbox:hover{
    background-color: #f0f0f0;
    cursor: crosshair;
    
    border: 2px solid #3176dc;
}